#chat{
  position: relative;
  height: 600px;
}
#chat .panel{
  margin-bottom: 0px;
}
#chat .panel .panel-heading{
  max-height: 50px;
  padding: 8px;
}
#chat .panel .panel-heading h2{
  font-size: 22px;
  margin: 5px 0px;
}
#chat .panel .panel-body{
  height: 550px;
  padding: 0px;
  overflow: auto;
}
@media only screen and (max-width: 768px) {
  #chat .panel .panel-body{
    height: 100%;
  }
}
/* sidebar */
#chat .sidebar{
  position: absolute;
  background-color: white;
  z-index: 1050!important;
  overflow-y: visible!important;
}
#chat .sidebarRoot{
  padding: 15px
}
#chat .sidebarContent{
  overflow-y: hidden!important;
  padding-left: 15px;
}
#chat .sidebarOverlay{
  z-index: 1040!important;
}
@media only screen and (max-width: 768px) {
  #chat .sidebar{
    position: fixed!important;
  }
}
/* infinityScroll */
#chat .infinite-scroll-component{
  width: 250px;
}