#home h1, #home h2{
  margin-bottom: 10px;
  margin-top: 3px;
}
#home h1{
  font-size: 25px;
}
#home h2{
  color: #666;
  font-size: 15px;
}
#home .sidebar{
  position: static!important;
}
#home .sidebar-panel{
  position: fixed!important;
  box-shadow: none!important;
  z-index: 3!important;
}
#home .sidebar-content{
  position: static!important;
  padding-left: 0px;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  #home .sidebar-panel{
    position: static!important;
    float: left;
  }
  #home .sidebar-content{
    position: static!important;
    padding-left: 15px;
  }
}

