#planBox:not(.selected) {
  cursor: pointer;
}
#planBox.selected,
#planBox:focus,
#planBox:hover{
  box-shadow: 1px 1px 5px #999;
}
#planBox h1,
#planBox h2{
  margin-top: 5px;
  margin-bottom: 5px;
}
#planBox .panel{
  margin-bottom: 0px;
}
#planBox .paymentInfo{
  line-height: 35px;
}
/* popular */
#planBox.popular .panel-default > .panel-heading{
  background-color: #dff0d8;
}
#planBox.popular .panel-default > .panel-heading > #popular{
  background-color: #fc9b30;
  border-color: #fc9b30;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  position: absolute;
  padding: 5px 8px;
  right: 5px;
  top: -10px;
  border-radius: 15px;
}
#planBox.popular .panel-body{
  background-color: #ffc;
}

/* selected */
#planBox.selected .panel-default > .panel-heading{
  background-color: #dff0d8;
}
#planBox.selected .panel-default > .panel-heading > #selected{
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  position: absolute;
  padding: 5px 8px;
  right: 5px;
  top: -10px;
  border-radius: 15px;
}